body {
    background-color: rgb(100, 180, 200);
}

h1 {
    position: absolute;
    top: 50px;
    left: 1em;
    font-family: sans-serif;
    color: white;
    -webkit-animation: introTitle 2s forwards;
}

#aboveGround {
    width: 100%;
    height: 120px;
    -webkit-animation: appear 2s forwards;
    -webkit-transition: margin-top 1s;
}

#person {
    margin-top: 180px;
    margin-left: 50px;
    width: 80px;
    height: 120px;
}

#burgerCounter {
    position: absolute;
    margin-top: -25px;
    margin-left: 33px;
    font-size: 20px;
    font-family:sans-serif;
}

.heart {
    position: absolute;
    -webkit-transform: rotate(-20deg);
    -webkit-animation: heartAppear 1s forwards linear;
    -webkit-animation-play-state: paused;
}

.teardrop {
    position: absolute;
    margin-left: 2px;
    -webkit-animation: sweatAppear 1s forwards linear;
    -webkit-animation-play-state: paused;
}

#head {
    height: 60px;
    width: 80px;
    border-radius: 50px;
    background-color: tan;
}

.eye {
    height: 10px;
    width: 12px;
    background-color: white;
    border-radius: 2px;
}

#eye1 {
    position: relative;
    margin-left: 48px;
    top: 13px;
}

#eye2 {
    position: relative;
    margin-left: 20px;
    top: 3px;
}

.pupil {
    position: relative;
    height: 4px;
    width: 4px;
    left: 4px;
    top: 3px;
    border-radius: 2px;
    background-color: black;
    -webkit-animation: eyeDead 1s forwards linear;
    -webkit-animation-play-state: paused;
}

#mouth {
    width: 40px;
    height: 10px;
    border-radius: 2px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: black;
}

.arm {
    position: relative;
    width: 10px;
    height: 30px;
    border-radius: 2px;
    background-color: tan;
}

#l_arm {
    top: 5px;
    left: 20px;
}

#r_arm {
    margin-top: -35px;
    left: 50px;
}

#torso {
    margin-top: -30px;
    margin-left: 25px;
    height: 40px;
    width: 30px;
    border-radius: 5px;
    background-color: red;
    -webkit-transition: width 1s;
    -webkit-transition: margin-left 1s;
    -webkit-transition: border-radius 1s;
}

.leg {
    height: 20px;
    width: 10px;
    border-radius: 3px;
    background-color: blue;
}

#l_leg {
    position: relative;
    top: 5px;
    left: 28px;
}

#r_leg {
    position: relative;
    top: -15px;
    left: 42px;
}

#conveyorBeltContainer {
    overflow: hidden;
    position: relative;
    width: 240px;
    border-radius: 10px;
    margin-top: -100px;
    margin-left: 140px;
    height: 10px;
}

#belt1 {
    position: relative;
    width: 510px;
    margin-left: -54px;
    border-style: dashed;
    border-radius: 10px;
    -webkit-animation: moveDash 2.5s infinite linear;
}

#wheelContainer {
    position: relative;
    height: 67px;
    width: 25px;
    margin-top: -10px;
    margin-left: 115px;
    overflow: hidden;
}

#wheel1 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-style: dashed;
    border-width: 5px;
    border-radius: 50px;
    -webkit-animation: rotateDash 9s infinite linear;
}

#conveyorBeltContainer2 {
    overflow: hidden;
    position: relative;
    width: 240px;
    border-radius: 10px;
    margin-left: 140px;
    margin-top: -13px;
    height: 10px;
}

#belt2 {
    position: absolute;
    width: 510px;
    margin-left: -54px;
    border-style: dashed;
    border-radius: 10px;
    -webkit-animation: moveDash 2.5s reverse infinite linear;
}

#wheelContainer2 {
    position: relative;
    height: 67px;
    width: 25px;
    margin-top: -64px;
    margin-left: 380px;
    overflow: hidden;
}

#wheel2 {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: -35px;
    border-style: dashed;
    border-width: 5px;
    border-radius: 50px;
    -webkit-animation: rotateDash 9s infinite linear;
}

#burgerBound {
    position: absolute;
    top: 0px;
    height: 225px;
    width: 100%;
    overflow: hidden;
}

.burger {
    position: absolute;
    left: 500px;
    top: -40px;
    height: 30px;
    width: 40px;
    -webkit-transform: rotate(-30deg);
    -webkit-animation: burgerProcess 2s forwards linear;
    -webkit-animation-play-state: paused;
}

.topping {
    position: relative;
    width: 100%;
    border-radius: 10px;
}

#bunTop {
     height: 10px;
    background-color: tan;
}

#topping1 {
    height: 4px;
    background-color: brown;
}

#topping2 {
    height: 2px;
    background-color: yellow;
}

#topping3 {
    height: 1px;
    background-color: red;
}

#topping4 {
    height: 3px;
    background-color: green;
}

#bunBottom {
    height: 10px;
    background-color: tan;
}

#happyMeter {
    position: relative;
    margin-left: 10px;
    margin-top: -100px;
    height: 110px;
    width: 20px;
    border-style: solid;
    border-width: 5px;
    background-color: white;
}

#happyBar {
    position: relative;
    margin-top: 50px;
    height: 10px;
    background-color: red;
    -webkit-transition: margin-top 1s ease-in;
    
}

#ground {
    width: 100%;
    height: 300px; 
    background-color: rgb(80, 130, 180);
}

#outOfOrder {
    margin-top: -50px;
    margin-left: 165px;
    width: 100px;
    height: 50px;
    background-color: red;
    text-align: center;
    font-family: sans-serif;
    font-size: 19px;
    font-variant: small-caps;
    color: white;
    border-style: solid;
    -webkit-transform: rotate(30deg);
    -webkit-animation: appear 1s forwards linear;
    -webkit-animation-play-state: paused;
    pointer-events: none;
    -webkit-transition: margin-left 1s;
}

#signText {
    position: relative;
    top: -10px;
}

button {
    margin-top: 10px;
    margin-left: 150px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-width: thick;
    border-color: darkorange;
    border-style: groove;
    border-top-style: hidden;
    border-left-style: hidden;
    background-color: orange;
    font-family: sans-serif;
    font-size: 19px;
    font-variant: small-caps;
    -webkit-animation: appear 3s forwards;
    -webkit-transition: margin-left 1s;
}

button:active {
    border-style: inset;
}

h2 {
    position: absolute;
    font-family: sans-serif;
    margin-top: 70px;
    margin-left: 1em;
    padding-right: 3em;
    -webkit-animation: introNarration 2s forwards;
    -webkit-transform: margin-top 1s;
}

#next {
    font-size: 18px
}

#tsperson {
    position: absolute;
    margin-top: 172px;
    margin-left: -150px;
    width: 80px;
    height: 120px;
    -webkit-transition: margin-left 1s;
}

#tshead {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: tan;
    -webkit-transition: background-color 1s;
}

#tseye1 {
    position: relative;
    margin-left: 34px;
    top: 13px;
    border-radius: 15px;
}

#tseye2 {
    position: relative;
    margin-left: 12px;
    top: 3px;
    border-radius: 15px;
}

#tsmouth {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-left: 15px;
    border-bottom-style: solid;
    border-width: 10px;
    border-radius: 10px;
    -webkit-transition: border-radius 1s;
}

#tsl_arm {
    top: 5px;
    left: 10px;
    -webkit-transition: background-color 1s;
}

#tsr_arm {
    margin-top: -35px;
    left: 40px;
    -webkit-transition: background-color 1s;
}

#tstorso {
    margin-top: -30px;
    margin-left: 15px;
    height: 40px;
    width: 30px;
    border-radius: 5px;
    background-color: rgb(100, 400, 100);
    -webkit-transition: width 1s;
    -webkit-transition: margin-left 1s;
    -webkit-transition: border-radius 1s;
}

#tsl_leg {
    position: relative;
    top: 5px;
    left: 18px;
}

#tsr_leg {
    position: relative;
    top: -15px;
    left: 32px;
}

#tanningSalon {
    position: absolute;
    height: 300px;
    width: 500px;
    top: -300px;
    left: 420px;
    border-top-left-radius: 100px;
    overflow: hidden;
    -webkit-transition: top 1s;
}

#banner {
    width: 300px;
    height: 50px;
    font-family: sans-serif;
    font-size: 40px;
    margin-top: -240px;
    margin-left: 50px;
    padding-top: 10px;
    text-align: center;
    background-color: white;
}

#window {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    background-color: lightblue;
    opacity: 0.6;
}

#wall1 {
    margin-top: 0px;
    height: 160px;
    background-color: gold;
}

#wall2 {
    width: 50px;
    height: 140px;
    background-color: gold;
}

#wall3 {
    margin-top:-40px;
    height: 40px;
    background-color: gold;
}

#wall4 {
    margin-top: -140px;
    margin-left: 150px;
    width: 350px;
    height: 140px;
    background-color: gold;
}

#utilGraph1 {
    margin-top: -120px;
    margin-left: 170px;
    height: 140px;
    width: 150px;
    background-color: white;
    border-width: 2px;
    border-style: solid;
}

#graphTitle {
    font-family: sans-serif;
    text-align: center;
    font-size: 13px;
    margin-top: 4px;
    padding-left: 15px;
}

#xAxis {
    margin-top: 100px;
    margin-left: 20px;
    height: 3px;
    width: 120px;
    background-color: black;
}

.xTick {
    position: absolute;
    width: 3px;
    height: 13px;
    margin-top: -5px;
    background-color: black;
}

#xtick1 {
    margin-left: 25px;
}

#xtick2 {
    margin-left: 50px;
}

#xtick3 {
    margin-left: 75px;
}

#xtick4 {
    margin-left: 100px;
}

#yAxis {
    position: absolute;
    margin-top: -10px;
    margin-left: 20px;
    width: 3px;
    height: 100px;
    background-color: black;
}

.yTick {
    position: absolute;
    height: 3px;
    width: 13px;
    background-color: black;
    margin-left: -5px;
}

#ytick1 {
    margin-top: 78px;
}

#ytick2 {
    margin-top: 56px;
}

#ytick3 {
    margin-top: 34px;
}

#ytick4 {
    margin-top: 12px;
}

#xTitle {
    positon: absolute;
    margin-top: 7px;
    font-family: sans-serif;
    text-align: center;
    font-size: 13px;
    letter-spacing: 2px;
}

#yTitle {
    font-family: sans-serif;
    text-align: center;
    margin-top: -90px;
    margin-left: -135px;
    font-size: 13px;
    letter-spacing: 2px;
    -webkit-transform: rotate(270deg);
}

.point {
    position: absolute;
    width: 3px;
    height: 3px;
    border-style: solid;
    border-radius: 10px;
    background-color: red;
    border-color: red;
}


#point1 {
    margin-left: 17px;
    margin-top: 25px;
    opacity: 0;
}

#line1Container {
    position: absolute;
    margin-left: -8px;
    margin-top: -15px;
    height: 45px;
    width: 0px;
    overflow: hidden;
    -webkit-transition: width 1s;
}

#line1 {
    width: 200px;
    height: 75px;
    border-top-left-radius: 200px;
    border-style: solid;
    margin-left: 20px;
}

#line2Container {
    position: absolute;
    margin-left: 70px;
    margin-top: -20px;
    height: 100px;
    width: 0px;
    overflow: hidden;
    -webkit-transition: width 1s;
}

#line2 {
    width: 30px;
    height: 100px;
    border-top-right-radius: 200px;
    border-right-style: solid;
    border-top-style: solid;
    margin-left: 0px;
    -webkit-transform: rotate(-20deg);
}

#point2 {
    margin-left: 42px;
    margin-top: -4px;
    opacity: 0;
}

#point3 {
    margin-left: 67px;
    margin-top: -15px;
    opacity: 0;
}

#point4 {
    margin-left: 92px;
    margin-top: 10px;
    opacity: 0;
}

@-webkit-keyframes moveDash {
    from { -webkit-transform: translateX(54px); }
    to   { -webkit-transform: translateX(0px); }
}

@-webkit-keyframes rotateDash {
    from { -webkit-transform: rotate(0deg); }
    to   { -webkit-transform: rotate(-360deg); }
}

@-webkit-keyframes burgerProcess {
    0%  { top: -40px;
            left: 300px;}
    20% { top: 165px;
         -webkit-transform: rotate(-30deg);
        left: 300px;}
    25% {-webkit-transform: rotate(45deg); }
    30% { top: 130px;
        left: 280px;
        -webkit-transform: rotate(100deg); }
    35% {-webkit-transform: rotate(140deg); }
    40% { top: 166px;
        left: 260px; 
        -webkit-transform: rotate(170deg); }
    45% { top: 166px;
        left: 250px;
        -webkit-transform: rotate(190deg); }
    50% { top: 168px;
        -webkit-transform: rotate(180deg);}
    80% { left: 120px;
            top: 168px;
            -webkit-transform: rotate(180deg);}
    90% { top: 180px; 
            -webkit-transform: rotate(140deg);}
    100% { left: 50px;
            top: 260px;
            -webkit-transform: rotate(85deg);}
}

@-webkit-keyframes heartAppear {
    0% {opacity: 0;
        margin-left: 0px;
        margin-top: 0px;}
    50% {opacity: 1;
        margin-left: -10px;
        margin-top: -10px;}
    100% {opacity: 0;
        margin-left: -20px;
        margin-top: -20px;}
}

@-webkit-keyframes sweatAppear {
    0% {opacity: 0;
        margin-top: 0px;}
    50% {opacity: 1;
        margin-top: 10px;}
    100% {opacity: 0;
        margin-top: 20px;}
}

@-webkit-keyframes eyeDead {
    from {top: 3px;}
    to {top: 0px;}
}

@-webkit-keyframes introTitle {
    from {opacity: 0;
        top: 40px;}
    to {opactiy: 1;
        top 50px; }
}

@-webkit-keyframes introNarration {
    from {opacity: 0;
        margin-top: 80px;}
    to {opactiy: 1;
        margin-top 70px; }
}

@-webkit-keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}
